@font-face {
  font-family: sahelregular;
  src: url('../fonts/Sahel.woff');
}

@font-face {
  font-family: sahelbold;
  src: url('../fonts/Sahel-Bold.woff');
}

@font-face {
  font-family: sahelblack;
  src: url('../fonts/Sahel-Black.woff');
}

@font-face {
  font-family: sahellight;
  src: url('../fonts/Sahel-Light.woff');
}

@font-face {
  font-family: sahelsemibold;
  src: url('../fonts/Sahel-SemiBold.woff');
}
