* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: #1c1c1c;
  color: white;
}

#sidebar {
  background: #1d449f;
  width: 20rem;
  padding: 1rem;
}

#sidebar img {
  display: block;
  width: 10rem;
  margin: 0 auto;
  border-radius: 100%;
}

#sidebar h5 {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: sans-serif;
}

#sidebar > #about-box > p {
  direction: ltr;
  text-align: justify;
  margin-top: 1rem;
  font-family: sans-serif;
}

hr.white-flat-line {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 10rem;
  border: white 3px solid;
}

.color-white {
  color: white;
}

#contact-box p {
  margin-top: 1rem;
  font-family: sans-serif;
}

.circle-link {
  background: silver;
  color: #1d449f;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  font-family: sans-serif;
  line-height: 3rem;
  margin-top: 1rem;
  transition: color 0.25s, background 0.25s;
}

.circle-link:hover {
  background-color: #1d449f;
  color: silver;
  border: silver solid 1px;
}

/* @font-face {
  font-family: ubuntu;
  src: url("./assets/fonts/Ubuntu-B.ttf");
} */
